.list-nav{
    background-color: #EE4D9A;
    border-radius: 1.5em;
    color: white;
    text-decoration: none;
}

.list-nav{
    a,
    a:visited{
        color: white;
        text-decoration:none
    }
} 