.titulo-main{
    color: rgb(197, 56, 190);
    background-color:$colorTituloDescripcion ;
}
.descripcion-main{
    color: whitesmoke;
    background-color: $colorTituloDescripcion;
    width: 25%;
}
.button-main{
    border: 0;
    background-color:rgba(168, 15, 15, 0.315) ;
    width: 5em;
    height: 5em;
        a,
        a:visited{
            color: #EE4D9A;
        text-decoration: none;
        }
    }
